<!DOCTYPE html>
<html>
<head>
	<title>movies</title>
	
</head>
<body>
     <h1>search your movie</h1>
     <form action="/movies" method="get">
     	<input type="text" name="movie" placeholder="write here">
     	<button>submit</button>
     </form>
</body>
</html>